.navUl {
list-style-type: none;
margin: 0 auto;
padding: 0;
overflow: hidden;
background-color: red;
}
.navLi {
    float: right;
}
.navLi a {
display: block;
color: white;
text-align:left;
padding: 14px 16px;
text-decoration: none;
}
.navLi a:hover {
    background-color: grey;
}

body  {
    background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1052&q=80");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    background-color: black;
    width:1000px;
    opacity: 0.8;
    margin: 0px auto;
    padding-left: 50px;
}
 h1 {
     color: white;
     font-family: 'Play', sans-serif;
     font-size: 30px;
     font-weight: 700;

 }
 h2 {
    color: white;
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 25px;
 }

P {
    color: white;
    font-family: 'Play', sans-serif;
    text-align: justify;
    font-size: 20px;
    width: 95%;
}

.headshot {
    width: 400px;
    float: left;
    margin-right: 20px;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

ul, li {
    color: white;
    font-family: 'Play', sans-serif;
    width: 1000px;
    font-size: 20px;

}

 ol, li {
    color: white;
    font-family: 'Play', sans-serif;
    width: 1000px;
    font-size: 20px;
    
 }
 footer {
    height: 25px;
    border-color: red;
    border-style: solid;
    border-width: 1px;
    background-color: gray;
    padding-top: 5px;
    padding-left: 5px;
    margin: 0 auto;
    width: 1000px;
    color: black;
    text-align: center;

}