nav {
    height: 25px;
    border-color: red;
    border-style: solid;
    border-width: 1px;
    background-color: gray;
    padding-top: 5px;
    padding-left: 5px;

}
/* Used code examples from https://www.w3schools.com/howto/howto_css_parallax.asp */
body  {
    background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1052&q=80");
    background-attachment: fixed;
    background-position: center;
     background-repeat: no-repeat;
    background-size: cover;
}
 h1 {
     color: white;
     font-family: 'Play', sans-serif;
     font-size: 30px;
     font-weight: 700;

 }

 h2 {
    color: white;
    font-family: 'Play', sans-serif;
    font-weight: 700;
 }
ul, li {
    color: white;
    font-family: 'Play', sans-serif;
    width: 700px;
    font-size: 20px;

}
P {
    color: white;
    font-family: 'Play', sans-serif;
    text-align: justify;
    font-size: 20px;
    width: 800px;
}

.headshot {
    width: 400px;
    float: left;
    margin-right: 20px;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}
main {
    background-color: black;
    width:900px;
    opacity: 0.8;
}